.fp-app-container {
    width: 100%;
    height: 100%;
    background: rgb(162, 201, 238);

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            width: 120px;
            height: 30px;
            background: black;
            color: #FDD900;
            border: 2px solid black;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}
.fp-panels-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 50px;

    img {
        width: 100%;
        box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
        
        &:hover {
            cursor: pointer;
        }
    }
}
