.wd-app-container {
    width: 100%;
    height: 100%;
    background: rgb(162, 201, 238);

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            width: 120px;
            height: 30px;
            background: black;
            color: #FDD900;
            border: 2px solid black;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .wd-panels-grid {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 50px;

        .wd-container {
            position: relative;

            .wd-image {
                opacity: 1;
                display: block;
                width: 100%;
                transition: .3s ease;
                backface-visibility: hidden;
            }
            
        }

        .wd-container:hover .wd-image {
            opacity: 0.3;
        }
        .wd-middle {
            transition: .3s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            width: 90%;
            margin: auto;
            justify-content: space-around;
            text-align: center;

            .wd-text {
                background-color: black;
                cursor: pointer;
                padding: 16px 16px;

                a {
                    color: #FDD900;
                    font-weight: 600;
                    font-size: 16px;
                    text-decoration: none;
                }
            }
        }
        .wd-container:hover .wd-middle {
            opacity: 1;
        }

        img {
            width: 100%;
            box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}