.sp-app-container {
    height: 100vh;
    margin: 0;
    padding: 30px;
    @media (max-width:550px) {
        padding: 0;
    }
}

// sp-wrapper
.sp-wrapper-container {
    width: 100%;
    border: 3px solid rgb(114, 114, 114);
}

// sp-top-header
.sp-top-header {
    width: 100%;
    margin: 0 auto;
}
.sp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 100px;
        height: 30px;
        cursor: pointer;
    }
}
.sp-warning {
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(28, 28, 28);
    text-align: center;
    strong {
        color: rgb(209, 6, 6);
        font-weight: 900;
    }
    @media screen and (max-width: 968px) {
        font-size: 1.1rem;
        font-weight: 600;
        width: 95%;
    }
    @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        font-weight: 500;
        width: 95%;
    }
}
.sp-title {
    width: 90%;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
        font-size: 1.6rem;
        width: 95%;
        margin: auto;
    }
}
.sp-scarcity {
    font-size: 2.5rem;
    color: rgb(209, 6, 6);
    font-weight: 900;
    text-align: center;
    align-items: center;
    height: 50px;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    @media (max-width:768px) {
        font-size: 1.7rem;
        width: 95%;
        margin: 20px auto;
    }
}

// sp-main-panel
.sp-main-panel {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    margin-top: 0;

    @media screen and (max-width:968px) {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
}
.sp-bullet-points {
    width: 50%;
    line-height: 1.5rem;
    font-size: 1.1rem;
    border: 2px solid red;

    @media screen and (max-width:768px) {
        width: 80%;
        margin: auto;
        text-align: center;
    }
}
.sp-ebook-img {
    width: 50%;

    @media screen and (max-width:968px) {
        width: 90%;
        text-align: center;
    }
    @media screen and (max-width:550px) {
        width: 85%;
        text-align: center;
        img {
            width: 100%;
        }
    }
}

// sp-body-section
.sp-body-section-title {
    width: 90%;
    margin: auto;
    h1 {
        text-align: center;
        @media (max-width:550px) {
            font-size: 1.5rem;
        }
    }
    h3 {
        text-align: center;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.sp-body-section-text {
    width: 70%;
    margin: auto;
    line-height: 25px;
    @media (max-width:550px) {
        width: 90%;
    }
    p {
        font-weight: 500;
        margin-left: 30px;
        @media (max-width:550px) {
            font-weight: 400;
            margin-top: 25px;
        }
    }
}
.sp-body-section-image {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    @media (max-width:550px) {
        width: 90%;
    }
    img {
        width: 100%;
    }
}
.sp-ul-container {
    line-height: 25px;
}